In [1]:
import pandas as pd

import requests
import json
from dotenv import load_dotenv
import os

import sys


sys.path.append("../")

In [2]:
aloja = pd.read_csv('../data/kamino_aloj_final.csv', error_bad_lines=False, sep = ",", encoding='UTF-8')
aloja.head()

,CÓDIGO,NOMBRE,MODALIDAD,CATEGORIA,DIRECCIÓN,LOCALIDAD,ZONA,PLAZAS,COORDENADAS
0,UAT00704,22 Caldereros,Apartamento Turístico,Segunda/2 Llaves,Calle Caldereria 22 2º,PAMPLONA,Cuenca de Pamplona,3.0,"(42.81825260000001, -1.6420324)"
1,UH000678,A Pamplona,Hotel,2 Estrellas,Calle Sancho Ramirez 15,PAMPLONA,Cuenca de Pamplona,24.0,"(42.8072773, -1.6649481)"
2,UH000645,Abba Reino de Navarra,Hotel,4 Estrellas,Calle Acella 1,PAMPLONA,Cuenca de Pamplona,176.0,"(42.8085463, -1.6607907)"
3,UHS00856,Abodi II,Hostal,HsG,Calle Sancho Ramírez 31,PAMPLONA,Cuenca de Pamplona,8.0,"(42.8082357, -1.6662554)"
4,UH000503,AC Ciudad de Pamplona,Hotel,4 Estrellas,Iturrama 21,PAMPLONA,Cuenca de Pamplona,178.0,"(42.8045626, -1.6524894)"

In [3]:
aloja = aloja.drop(['CÓDIGO', 'ZONA', "COORDENADAS" ], axis = 1)
aloja.head()

,NOMBRE,MODALIDAD,CATEGORIA,DIRECCIÓN,LOCALIDAD,PLAZAS
0,22 Caldereros,Apartamento Turístico,Segunda/2 Llaves,Calle Caldereria 22 2º,PAMPLONA,3.0
1,A Pamplona,Hotel,2 Estrellas,Calle Sancho Ramirez 15,PAMPLONA,24.0
2,Abba Reino de Navarra,Hotel,4 Estrellas,Calle Acella 1,PAMPLONA,176.0
3,Abodi II,Hostal,HsG,Calle Sancho Ramírez 31,PAMPLONA,8.0
4,AC Ciudad de Pamplona,Hotel,4 Estrellas,Iturrama 21,PAMPLONA,178.0

In [4]:
aloja.shape

(243, 6)

In [5]:
aloja['LOCALIDAD'].unique()

array(['PAMPLONA', 'ESTELLA', 'PUENTE LA REINA'], dtype=object)

In [6]:
aloja_p = aloja.loc[(aloja['LOCALIDAD'] == "PAMPLONA")]
aloja_p.head()

,NOMBRE,MODALIDAD,CATEGORIA,DIRECCIÓN,LOCALIDAD,PLAZAS
0,22 Caldereros,Apartamento Turístico,Segunda/2 Llaves,Calle Caldereria 22 2º,PAMPLONA,3.0
1,A Pamplona,Hotel,2 Estrellas,Calle Sancho Ramirez 15,PAMPLONA,24.0
2,Abba Reino de Navarra,Hotel,4 Estrellas,Calle Acella 1,PAMPLONA,176.0
3,Abodi II,Hostal,HsG,Calle Sancho Ramírez 31,PAMPLONA,8.0
4,AC Ciudad de Pamplona,Hotel,4 Estrellas,Iturrama 21,PAMPLONA,178.0

In [8]:
aloja_p.shape

(208, 6)

In [9]:
aloja_pu = aloja.loc[(aloja['LOCALIDAD'] == "PUENTE LA REINA")]
aloja_pu.head()

,NOMBRE,MODALIDAD,CATEGORIA,DIRECCIÓN,LOCALIDAD,PLAZAS
235,Amalur,Albergue turístico,2ª Categoria,Cerco Viejo 3 Bajo,PUENTE LA REINA,20.0
236,Bidean,Hostal,HsRural,Calle Mayor 20,PUENTE LA REINA,36.0
237,Ganbara,Apartamento Turístico,Tercera/1 Llave,Calle Mayor 86,PUENTE LA REINA,4.0
238,Jakue,Albergue turístico,del Camino de Santiago,Calle Irunbidea 8,PUENTE LA REINA,90.0
239,La Casica del Puente,Apartamento Turístico Rural,Segunda/2 Llaves,La Población 1 Puente Románico,PUENTE LA REINA,6.0

In [10]:
aloja_pu.shape

(8, 6)

In [11]:
aloja_e = aloja.loc[(aloja['LOCALIDAD'] == "ESTELLA")]
aloja_e.head()

,NOMBRE,MODALIDAD,CATEGORIA,DIRECCIÓN,LOCALIDAD,PLAZAS
208,Apartamentos Gebala,Apartamento Turístico Rural,Primera/3 Llaves,Plaza de los Fueros 31,ESTELLA,2.0
209,Area 99,Hostal,HsG,Merkatondoa 32 A,ESTELLA,22.0
210,Argia,Apartamento Turístico,Tercera/1 Llave,Arróniz 4 4ºA,ESTELLA,6.0
211,Azcárate,Apartamento Turístico,Tercera/1 Llave,Guesalaz 3 bajo Iz,ESTELLA,5.0
212,Bed & Breakfast Zaldu,Pensión,P**,Pío Baroja 1,ESTELLA,8.0

In [12]:
aloja_e.shape

(27, 6)